* {
  box-sizing: border-box;
}
.channelWrap {
  min-height: 80vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  margin-top: 100px;
  margin-left: 100px;
  h4 {
    font-size: 26px;
    font-weight: 400;
  }
}

.channelProfile {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 20px;

  img {
    height: 88px;
    width: 88px;
    margin-right: 20px;
    border-radius: 50%;
  }

  .channelName {
    font-size: 26px;
    font-weight: 600;
  }
  .channelSubs {
    font-size: 14px;
  }
}

.channelVideosContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}

.channelVideoCard {

    color:black;
  text-decoration: none;
  margin-top: 5px;
  width: 210px;
  height: 200px;
  img {
    height: 118px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}
