/**************************Search_card******************************/
* {
  text-decoration: none;
  box-sizing: border-box;
}
.search_card {
  width: 1100px;
  cursor: pointer;
  height: 200px;
  display: flex;

  img {
    margin-right: 10px;
    width: 360px;
    height: 100%;
  }
  div {
    width: 490px;

    h3 {
      font-size: 18px;
      line-height: 26px;
    }
    p {
      font-size: 12px;
      color: rgb(95, 95, 95);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 20px;
    }
    div {
      display: flex;
      margin: 10px 0;
      align-items: center;

      img {
        border-radius: 50%;
        height: 25px;
        width: 25px;
      }
    }
  }
}

/**************************history_card******************************/
.history_card {
  color: black;
  width: 1300px;
  cursor: pointer;
  height: 150px;
  display: flex;

  img {
    margin-right: 10px;
    width: 300px;
    height: 100%;
  }
  div {
    width: 490px;

    h3 {
      font-size: 18px;
      line-height: 26px;
    }
    p {
      text-decoration: none;
      font-size: 12px;
      color: rgb(95, 95, 95);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 20px;
    }
    div {
      display: flex;
      margin: 10px 0;
      align-items: center;

      img {
        border-radius: 50%;
        height: 25px;
        width: 25px;
      }
    }
  }
}
