/**************************Search_card******************************/

.search_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f9f9f9;
  min-height: 100vh;
  padding-top: 25px;

  > div {
    width: 60%;

    > div:first-child {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      border-bottom: 1px solid grey;
      padding-bottom: 15px;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.5px;
      color: #030303;
    }
    > div:last-child {
      display: flex;
      flex-flow: row wrap;
      gap: 10px;
      margin-top: 15px;

      a {
        text-decoration: none;
        color: #030303;
      }
    }
  }
}

/**************************Search_card******************************/

.search_card {
  width: 1100px;
  cursor: pointer;
  height: 200px;
  display: flex;

  img {
    margin-right: 10px;
    width: 360px;
    height: 100%;
  }
  div {
    width: 490px;

    h3 {
      font-size: 18px;
      line-height: 26px;
    }
    p {
      width: 100%;
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 20px;
    }
    div {
      display: flex;
      margin: 10px 0;
      align-items: center;

      img {
        border-radius: 50%;
        height: 25px;
        width: 25px;
      }
    }
  }
}
