.videoCard {
  width: 360px;
  margin-bottom: 40px;
  margin-right: 18px;

  Img {
    width: 100%;
  }
  > div {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;

    h4 {
      font-size: 17px;
      margin-bottom: 5px;
      color: black;
    }
    p {
      font-size: 15px;
      color: rgb(95, 95, 95);
    }
  }
}
