.videoCard {
  width: 360px;
  margin-bottom: 40px;
  margin-right: 18px;
}
.videoImg {
  width: 100%;
}
.videoDetails {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}
.videoAvatar img {
  z-index: 5;
}
.videoText {
  margin-left: 15px;
}
.videoText h4 {
  font-size: 17px;
  margin-bottom: 5px;
  color: black;
}

.videoText p {
  font-size: 15px;
  color: rgb(95, 95, 95);
}
