.comments {
  display: flex;
  flex-flow: column wrap;
}
.commentField {
  display: flex;
  align-items: center;
  input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 95%;
    height: 20px;
  }
  a {
    width: 95%;
  }
}
.commentBtns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.cancelCommentBtn {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  color: grey !important;
  background: none !important;
}
.cancelCommentBtn:hover {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%) !important;
}

.comment {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  .comment.text {
    white-space: nowrap;
    overflow: hidden;
  }
  h3 {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: #030303;
  }
  p {
    color: rgb(95, 95, 95);
    font-size: 14px;
  }
}
.avatar {
  margin-right: 15px;
}
