
.comments{
  display: flex;
  flex-flow: column wrap;
}
.commentField{
  display: flex;
  align-items: center;
  input{
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    width: 95%;
    height: 20px;
  }

}
.commentBtns{
  width:100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.cancelCommentBtn{
  border:none;
  box-shadow: none;
  outline:none;
  color: grey;
  background: none !important;
}


.comment {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  .comment.text{
    white-space: nowrap;
    overflow: hidden;
  }
  h3 {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: #030303;
  }
  p {
    color: rgb(95, 95, 95);
    font-size: 14px;

  }
}
.avatar {
  margin-right: 15px;
}
