
.header_autocomplete {
  position: absolute;
  padding-top: 10px;
  top: 39px;
  background-color: white;
  border: 1px solid #cccccc;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-flow: column wrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  a {
    padding: 10px 5px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
  }
  a:hover {
    background-color: lightgrey;
  }
}
