* {
  box-sizing: border-box;
}
.headerContainer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  > div {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;

    > div {
      display: flex;
      align-items: center;
    }

    .header_burger_logo {
      margin-left: 25px;

      span {
        cursor: pointer;
      }
      img {
        height: 90px;
        margin-left: 15px;
      }
    }
    .header_search {
      form {
        display: flex;
        align-items: center;
      }
      & > div:first-child {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid #cccccc;
        border-right: none;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        width: 560px;
        height: 40px;

        input {
          text-decoration: none solid rgb(17, 17, 17);
          width: 533px;
          height: 80%;
          outline: none;
          border: none;
          line-height: 24px;
          height: 32px;
          font-size: 16px;
          padding: 1px 2px 1px 6px;
        }
        span {
          cursor: pointer;
          position: absolute;
          right: 10px;
          height: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0.8;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }

      button {
        cursor: pointer;
        font-size: 18px;
        padding: 0px 16px;
        height: 40px;
        width: 64px;
        background-color: #f0f0f0;
        border: 1px solid #c6c6c6c6;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & > span:last-child {
        font-size: 16px;
        cursor: pointer;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #ecebeb80;
      }
    }
    .header_signin {
      & > span:first-child {
        cursor: pointer;
        font-size: 20px;
        margin-right: 20px;
      }

      & > span:last-of-type {
        cursor: pointer;
        font-size: 20px;
      }

      & > a:last-child {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0 15px;
        height: 38px;
        width: 110px;
        padding: 5px 11px;
        color: #065fd4;
        border: 1px solid #065fd4;
        letter-spacing: 0.5px;
        text-decoration: none;

        span:first-of-type {
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
        }
        span:last-of-type {
          font-size: 14px;
          font-weight: 500;
        }
      }

      .avatar {
        margin: 0px 30px 0px 20px;
      }
      .inActiveUserManager {
        display: none;
      }
      .activeUserManager {
        border: 1px solid #cccccc;
        border-top: none;
        background-color: white;
        display: flex;
        width: 250px;
        position: absolute;
        top: 56px;
        right: 15px;
        z-index: 10px;
        flex-wrap: wrap;
      }
    }
  }
}
.uploadVideo {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid balck;
  background-color: grey;
}
#videoUploadSpan {
  position: relative;
}
