.categoriesContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 88.3%;
  margin-left: auto;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;

  overflow-y: hidden;
  overflow-x: scroll;
  padding: 18px;

  &::-webkit-scrollbar {
    width: 0px;
    display: none;
  }

  span {
    cursor: pointer;
    white-space: nowrap;
    border: solid rgb(207, 207, 207) 1px;
    border-radius: 80px;
    background-color: #f2f2f2;
    color: black;
    font-size: 14px;
    padding: 5px 10px;
    margin: 8px;

    &:hover {
      background-color: #e2e2e2;
    }
    &.active {
      background-color: #030303 !important;
      color: white !important;
      border: solid #030303 1px !important;
    }
  }
}
