.closeModalBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
  .uploadForm{
    display: flex;
    flex-flow: column;
    gap: 20px;
  }

.uploadBtn {
  position: absolute !important;
  bottom: 15px !important;
}
.uploadVideoTitle {
  margin-bottom: 40px;
}
