.sidebar {
  flex: 0.13;
  // padding-right: 15px;
  background-color: white;
  a {
    color: black;
    text-decoration: none;
  }
  > div {
    border-bottom: 1px solid #cccccc;
  }
}

.tab {
  display: flex;
  align-items: center;
  padding: 10px 20px;

  &:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
  h2 {
    flex: 1;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
  }
}
